<!DOCTYPE html>
<html  lang="ro">
    <head>
        <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css" />
        <%- include("../fragmente/head.ejs") %>     
        <script type="text/javascript" src=/Resurse/js/produse.js></script>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <div id="filtre">
                <h2>Filtre</h2>

                <div class="row w-100">
                    <div class="col">
                        <label for="inp-descriere">Descriere</label>
                        <br>
                        <textarea id="inp-descriere" class="form-control w-75"></textarea>
                        <div style="display:none;" id="mesaj-invalid-txtarea" class="text-danger">Introduceti o descriere valida!</div>
                    </div>
                    
                    <div class="col">
                        <label for="inp-nume">Nume</label>
                        <br>
                        <input type="text" id="inp-nume" class="form-control w-75">
                        <div style="display:none;" id="mesaj-invalid-txt" class="text-danger">Introduceti un nume valid!</div>
                    </div>
    
                    <div class="col"> Flori componente
                        <% for(let i = 0; i < locals.componente.length; i++) {
                                if(i % 3 == 0 || i == 0) {
                        %>
                                    <div class="row">
                        <%      } %>
                                        <p class="col">
                                            <input id="i_ch<%- i %>"  name="gr_ch" value="<%- locals.componente[i] %>" type="checkbox" checked/>
                                            <label for="i_ch<%- i %>" class="btn btn-outline-primary mb-1"><%- locals.componente[i] %></label>
                                        </p>
                        <%      if((i % 3 === 2) || i === locals.componente.length - 1) { %>
                                    </div>
                        <%      }
                            }
                        %>
                    </div>
                    
                    <div class="col">
                        <label for="inp-pret">Pret minim <br> <%- parseInt(locals.minPret) %> <input type="range" class="form-range w-50" id="inp-pret" value="<%- locals.minPret %>" min="<%- locals.minPret %>" max="<%- locals.maxPret %>"> <%- parseInt(locals.maxPret) %> <span id="infoRange">(<%- parseInt(locals.minPret) %>)</span> </label>
                    </div>
                </div>
                
                <div class="row w-100">
                    <label class="col">Culoare
                        <br>
                        <select id="inp-culoare" multiple size="4" class="form-select w-75">
                            <% 
                                for(let i = 0; i < locals.culori.length; i++) {
                            %>
                                    <option value="<%- locals.culori[i].culori %>"><%- locals.culori[i].culori %></option>
                            <% } %>
                            <option id="sel-mult-toate" selected value="toate">toate</option>
                        </select>
                    </label>
    
                    <div class="col">
                        <label for="inp-categorie">Tip eveniment</label>
                        <input list="categorie" id="inp-categorie" class="form-control w-75">
                        <datalist id="categorie">
                            <% 
                                for(let i = 0; i < locals.evenimente.length; i++) { 
                            %>
                                <option value="<%- locals.evenimente[i].evenimente %>"><%- locals.evenimente[i].evenimente %></option>
                            <% } %>
                        </datalist>
                    </div>
    
                    <div class="col">Pentru alergici
                        <% 
                            for(let i = 0; i < locals.valoriAlergici.length; i++) { 
                        %>
                            <p>
                                <input id="i_rad<%- i + 1 %>" name="gr_rad" value="<%- locals.valoriAlergici[i] %>" type="radio"/>
                                <label for="i_rad<%- i + 1 %>" class="btn btn-outline-primary mb-1"><%- locals.valoriAlergici[i] %></label>
                            </p>
                        <% } %>
                        <p>
                            <input id="i_rad3"  name="gr_rad" value="oricare" type="radio" checked/>
                            <label for="i_rad3" class="btn btn-outline-primary mb-1">oricare</label>
                        </p>
                    </div>
    
                    <label class="col">Numar fire
                        <br>
                        <select id="inp-nr_fire" class="form-select w-75">
                            <option id="sel-toate" selected value="oricate">oricate</option>
                            <option value="<%-minFire%>:20"><%-minFire%> - 20</option>
                            <option value="21:50">21 - 50</option>
                            <option value="51:<%-maxFire%>">51 - <%-maxFire%></option>
                        </select>
                    </label>
                </div>

                <p id="butoane-filtrare">
                    <button id="filtrare" class="btn btn-primary my-2"><span><i class="bi bi-filter"></i></span> <span class="text-btn">Filtreaza</span></button>
                    <button id="resetare" class="btn btn-primary my-2"><span><i class="bi bi-x"></i></span> <span class="text-btn">Reseteaza</span></button>
                    <br/>
                    <button id="sortCrescNume" class="btn btn-primary mb-2"><span><i class="bi bi-arrow-up-short"></i></span> <span class="text-btn">Sorteaza crescator dupa pret</span></button>
                    <br>
                    <button id="sortDescrescNume" class="btn btn-primary mb-2"><span><i class="bi bi-arrow-down-short"></i></span> <span class="text-btn">Sorteaza descrescator dupa pret</span></button>
                </p>

                <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate.</p>
            </div>


            <section id="produse">
                <h2>Produse</h2>
                <div id="no-products-message" style="display: none;">Nu sunt produse care să corespundă filtrelor.</div>
                <div class="grid-produse">
                    <% 
                        let count = 0;
                        for(let prod of locals.produse) { 
                    %>
                        <article class="produs" class="<%-prod.tip_produs%>" id="ent<%-prod.id%>">
                            <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" style="color: var(--culoare-deschisa) !important;"><span class="val-nume"><%- prod.nume%></span></a></h3>
                            <br>
                            <br>
                            <div class="div-container" style="display: flex">
                                <div class="info-prod">
                                    <table>
                                        <tr>
                                            <th>Pret</th>
                                            <th>Culoare</th>
                                            <th>Flori componente</th>
                                            <th>Data adaugare</th>
                                            <th>Pentru alergici</th>
                                        </tr>
                                        <tr>
                                            <td class="val-pret"><%- prod.pret%></td>
                                            <td class="val-culoare"><%- prod.culoare%></td>
                                            <td class="val-flori_componente"><%- prod.flori_componente%></td>
                                            <td><time class="val-data_adaugare"><%- prod.data_adaugare%></time></td>
                                            <td class="val-pt_alergici"><%- prod.pt_alergici%></td>
                                        </tr>
                                    </table>
                                    <div class="ecran-mic">
                                        <p class="val-pret">Pret: <%- prod.pret%></p>
                                        <p class="val-culoare">Culoare: <%- prod.culoare%></p>
                                        <p class="val-flori_componente">Flori componente: <%- prod.flori_componente%></p>
                                        <p><time class="val-data_adaugare">Data adaugare: <%- prod.data_adaugare%></time></p>
                                        <p class="val-pt_alergici">Pentru alergici: <%- prod.pt_alergici%></p>
                                    </div>
                                    <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p>
                                    <p class="tip_produs">Categorie: <span class="val-tip_produs"><%- prod.tip_produs %></span></p>
                                    <p class="categorie">Tip eveniment: <span class="val-categorie"><%- prod.categorie %></span></p>
                                    <p class="nr_fire">Numar fire: <span class="val-nr_fire"><%- prod.nr_fire %></span></p>
                                </div>
                                <div id="carousel<%- prod.id %>" class="carousel slide c1" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% for(let i = 0; i < locals.imagini_produse[count].length; i++) { %>
                                                <div class="carousel-item carousel <%- i == 0 ? "active" : "" %>">
                                                    <img class="d-block w-100" src="/Resurse/imagini/produse/<%- prod.imagine %>/<%- locals.imagini_produse[count][i] %>" alt="[imagine <%- prod.nume %>]">
                                                </div>
                                        <% } %>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%- prod.id %>" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel<%- prod.id %>" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <% if(minPriceProductIds.includes(prod.id)) { %>
                                <p class="text-success"><b>Acest produs este cel mai ieftin din categoria <%-prod.tip_produs%></b></p>
                            <% } %>
                            <p class="d-inline">Adauga in cos: </p>
                            <label class="selecteaza-cos">
                                <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                                <i style="display: none;" class="bi bi-check-square"></i>
                                <i class="bi bi-square"></i>
                            </label>
                        </article>
                    <% 
                        count++;
                    }
                    %>
                </div>
            </section>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>